/* RESET */
body {
    margin: 0;
    font-family: Georgia, "Times New Roman", serif;
    color: #000;
}

/* NAV */
.nav {
    padding: 20px 40px;
}

.nav .name {
    font-weight: bold;
    margin-right: 30px;
}

.nav a {
    margin-right: 15px;
}

/* CONTAINER = THE KEY */
.container {
    max-width: 1100px;
    margin-top: 60px;
    margin: 30px auto;
    display: grid;
    grid-template-columns: 260px 1fr; /* LEFT | RIGHT */
    column-gap: 60px;
    align-items: start;
}

/* LEFT COLUMN */
.left img {
    width: 180px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.left h1 {
    font-size: 22px;
    margin-bottom: 10px;
}

.left .affil {
    font-size: 15px;
    line-height: 1.4;
    margin-bottom: 15px;
}

.left ul {
    padding-left: 18px;
}

/* RIGHT COLUMN */
.right {
    font-size: 16px;
    line-height: 1.7;
}

.right p {
    margin-bottom: 18px;
}



/* BOTTOM IMAGE PANEL */
.bottom-panel {
    width: 100%;
    height: 550px;
    background-image: url("header.png")
    background-size: cover;
    background-position: center;
    margin-top: 80px;
}

